#brrr {
  text-align: center;
}

#ÑengoFlow {
  text-align: center;
}

#ala {
  text-align: center;
}

#kilo {
  text-align: right;
}

#blessd {
  text-align: right;
}
#sapa {
  text-align: right;
}
